@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">SmartPedidos</h1>
    <a class="btn btn-success" href="Pedido">Visualizar Pedidos</a>
    <a class="btn btn-primary" href="Pedido/Criar">Criar Pedido</a>
</div>
